@import "tailwindcss";

@theme {
    --color-slate-950: #020617;
    --color-emerald-500: #10b981;
}

/* Opcional: Estilo base para garantir fundo escuro */
body {
    background-color: var(--color-slate-950);
    color: #fff;
}